.wrapper{
    display: grid;
    place-items: center;
    gap: 20px;
    background: #FFF5EE;
    color: black;
}

.title{
    margin-bottom: 20px;
    font-size: 2.5rem;
    text-align: center;
}

.text{
    line-height: 2;
    max-width: 800px;
    padding: 0 1rem;
}

/* animations */
.info{
    transform: translateX(150%);
    transition: transform 1s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

.animationOn{
    transform: translateX(0%);
}